#
# Bluetooth
#
CONFIG_BT_ENABLED=n

CONFIG_ESP_CONSOLE_USB_CDC=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

CONFIG_ESP_INSIGHTS_ENABLED=y
CONFIG_ESP_INSIGHTS_CMD_RESP_ENABLED=y
CONFIG_ESP_RMAKER_ENABLE_CHALLENGE_RESPONSE=n
